.brands {
    margin-top: 40px + 32px;
    background: #FAFAFA;
    text-align: center;
    h1 {
        padding: 37px 0 8px 0;
    }
}

.brands-logos {
    display: flex;
    justify-content: space-evenly;
}