@mixin header-options($background) {
    background: $background;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

@mixin header-right {
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.header-options {
    @include header-options(#000);

    .row {
        /* height: 40px; */
        align-items: center;
    }

    .col-4 {
        span {
            letter-spacing: 0.7px;

            &:first-of-type {
                margin-right: 40px;
            }
        }
    }

    img {
        width: 45px;
        height: 18px;
        margin-right: 12px;
    }
}

.col {
    display: flex;

    .btn {
        @include header-options(transparent);
        border: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .dropdown-item {
        @include header-options(#fff);
        color: #212529;

        &:hover {
            background: #e9ecef;
        }

        &:active {
            background: #CA1441;
            color: #fff;
        }
    }
}

.header-main {
    .row {
        height: 93px;
        align-items: center;
    }
    .col-3 {
        img {
            &:first-of-type {
                margin-right: 30px;
            }
        }
    }

    .col-6 {
        form {

            .input-group {
                width: 500px;
            }

            @include header-right();

            input {
                border-radius: 10px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .btn {
                padding: 14px 24px;
                border-radius: 10px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                &:hover {
                    color: #CA1441;
                    background: #fff;
                    border: 1px #CA1441 solid;
                }
            }

            .btn-secondary {
                background: #ca1441;
            }
        }
    }

    .header-form__submit {
        background: #CA1441;

        &:hover {
            background: #CA1441;
        }
    }

    .icon {
        padding-left: 44px;
        background: url("../img/header/icons/search.svg") no-repeat left;
        background-position: 18.5px 50%;
        background-size: 20px;
    }
}

.header-favCart {
    display: flex;
    position: relative;
    align-items: center;
    svg {
        margin-right: 16px;
    }
    .header-cart {
        display: flex;
        position: relative;
        align-items: center;
        svg {
            margin-right: 0;
        }
    }
    .header-cart__count {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 2px;
        right: 107px;
        span {
            position: absolute;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            color: #fff;
            display: block;
            background-color: #EA1246;
            font-size: 10px;
            font-weight: 500;
            line-height: px;
            text-align: center;
        }
    }
    .header-cart__amount {
        margin-left: 20px;
        span {
            &:nth-child(2) {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}