.header-account {
    font-size: 12px;
    background: #FAFAFA;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px #DDDDDD;
    margin-bottom: 39px;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 15px 0;
    }
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.account-inner {
    display: flex;
    justify-content: end;

    form {
        display: flex;

        /* input {
            height: 100%;
            width: 100%;
        } */

        label {
            display: flex;
            align-items: center;
        }

    }

    .form-control-email,
    .input-group {
        width: 350px;
        height: 40px;
    }

    .form-control-pass {
        border-right: none;
    }

    .input-group-text {
        border-left: none;
        background: #fff;
    }
}

.form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-col {
    width: 325px;
    margin-right: 26px;
}

.login-col {
    width: 240px;
    margin-right: 33.5px;
}

.reg-col {
    width: 202px;
    padding-left: 33.5px;
    border-left: 1px solid grey;
}

.col-row {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.login-btn, .register-link {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #CA1441;
    border: none;
    transition: all .1s linear;
    &:hover {
        background: #EA1246;
        color: #fff;
    }
}

.forgot-link {
    color: #EA1246;
    &:hover {
        color: #CA1441;
    }
}

.register-link {
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.no-account {
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1A;
}

/* label {
    display: flex;
    align-items: center;
}

input {
    height: 100%;
    width: 100%;
}

button {
    width: 100%;
    height: 100%;
    text-align: center;
} */


/* .account-inner {
    display: flex;
    height: 125px;
    align-items: center;

    form {
        display: flex;

        button {
            width: 240px;
            height: 40px;
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            background: #CA1441;
            border-color: #CA1441;
            &:hover {
                background: #f72c5e;
                border-color: #CA1441;
            }
            &:focus {
                outline: none;
                box-shadow: none !important;
            }
            &:active {
                background: #CA1441;
            }
        }
    }

    .form-check {
        font-size: 12px;
        font-weight: 400;

        label {
            color: #666666;
            margin-right: 14px;
        }

        a {
            color: #EA1246;

            &:hover {
                color: #CA1441;
            }
        }
    }
}

.form-control {
    width: 325px;

    &:active,
    &:hover,
    &:focus {
        outline: 0;
        outline-offset: 0;
    }

    &:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
        border-color: #ced4da;
    }
}

.form-control-email {
    margin-bottom: 10px;
    height: 40px;
}

.form-control-pass {
    border-right: none;
    height: 40px;
}

.input-group-text {
    background: #fff;
    border-left: none;
}

.register-account {
    .no-account {
        color: #1A1A1A;
        font-weight: 600;
        font-size: 16px;
    }
    .register-now {
        a {
            padding: 7.5px 60.39px;
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            background: #CA1441;
            border-radius: 0.25rem;
            text-decoration: none;
            transition: all .1s linear;
            &:hover {
                background: #f72c5e;
            }
        }
    }
} */