@mixin linkFont {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

nav {
    background: #EA1246;
}

.nav-bar {
    display: flex;
    align-items: center;
    &:first {
        color: red;
    }
    .btn {
        @include linkFont();
        background: transparent;
        border: none;
        padding: 0 0.75rem;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .dropdown {
        line-height: 57px;
        background: #CA1441;
    }
    .dropdown-item {
        &:active {
            background: #EA1246;
        }
    }
}

.nav-links {
    display: flex;
    margin: 14px 0 16px;
}

.nav-link {
    padding: 0 1rem;
    a {
        @include linkFont();
        text-decoration: none;
    }
    &:hover {
        transform: scale(1.2);
    }
    transition: transform .1s linear;
}

.nav-call {
    @include linkFont();
    margin-left: auto;
}

.list-icon {
    position: relative;
    top: -2px;
    font-size: 24px;
}