@mixin linkFont {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

nav {
    background: #EA1246;
}

.expanded-links {
    display: none;
}

.nav-bar {
    display: flex;
    align-items: center;

    &:first {
        color: red;
    }

    .btn {
        @include linkFont();
        background: transparent;
        border: none;
        padding: 0 0.75rem;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .dropdown {
        text-align: center;
        line-height: 57px;
        background: #CA1441;

        .btn-secondary {
            line-height: 57px;
        }

        .dropdown-menu {
            line-height: 25px;
        }
    }

    .dropdown-item {
        &:active {
            background: #EA1246;
        }
    }
}

.dropdown-submenu {
    position: relative;

    .dropdown-menu {
        top: 0;
        left: 100%;
    }

    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}

.nav-links {
    display: flex;
    margin: 14px 0 16px;
}

.nav-link {
    padding: 0 1rem;

    a {
        @include linkFont();
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.2);
    }

    transition: transform .1s linear;
}

.nav-call {
    @include linkFont();
    margin-left: auto;
}

.list-icon {
    position: relative;
    top: -2px;
    font-size: 24px;
}

.nav-dp-1 {
    .bi-chevron-down {
        padding-left: 8px;
        font-size: 16px;
        position: relative;
        bottom: 5px;
    }

    padding: 0 15px;
}

.menu-1 {
    transform: translate3d(0px, 62px, 0px) !important;
    width: 100%;
}

.pull-right {
    .bi-chevron-right {
        position: relative;
        bottom: 3px;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .nav-bar {
        .btn,
        a,
        .nav-call {
            font-size: 15px;
        }
    }
}

@media (max-width: 990px) {

    .nav-bar {
        justify-content: space-around;
    }

    .nav-list,
    .nav-call {
        display: none;
    }

    .expanded-links {
        display: block;

        .bi-chevron-down {
            padding-left: 8px;
            font-size: 16px;
            position: relative;
            bottom: 3px;
        }

        .btn {
            background: #CA1441;
            width: 215px;
            line-height: 58px;
            border-radius: 0;
            align-items: center;
        }

        #collapseExample {
            transition: none;
        }

        .card-body {
            z-index: 10;
            position: absolute;
            left: 0%;
            width: 100%;
            margin-top: 1px;
        }

        .nav-links,
        .nav-call {
            display: block;
            font-size: 18px;
        }

        .nav-link {
            li {
                &:hover {
                    transform: none;
                }
            }

            a {
                color: #000;
                font-size: 18px;
            }
        }

        .nav-call {
            color: #000;
            margin-left: 43px;
        }
    }
}

@media (max-width: 491px) {
    .nav-bar {
        .expanded-links {
            .btn {
                background: transparent;
                width: 100%;
            }
        }

        .nav-dp-1 {
            background: transparent;
/*             padding: 0 !important;
            .btn {
                padding: 0 !important;
            } */
        }
    }
}

@media (max-width: 335px) {
    nav {
        .bi-chevron-down {
            padding-left: 0 !important;
        }
    }
}