@mixin sliderHeaders($fontsize, $color, $fontWeight) {
    font-size: $fontsize;
    color: $color;
    font-weight: $fontWeight;
}

.slider-inner {
    display: flex;
    justify-content: center;

    img {
        width: 795px;
        height: 564px;
    }
}


.slider-text {
    margin-left: 51px;

    h2 {
        @include sliderHeaders(26px, #EA1146, 400);
        margin-bottom: 8px
    }

    h1 {
        @include sliderHeaders(56px, #000000, 600);
        margin-bottom: 26px
    }

    h3 {
        @include sliderHeaders(24px, #1A1C15, 300);
        margin-bottom: 58px
    }

}

.slider-shop {
    a {
        @include sliderHeaders(18px, #fff, 600);
        background: #CA1441;
        text-decoration: none;
        padding: 14.5px 36.3px;
        border-radius: 43px;
        transition: all .1s linear;

        &:hover {
            background: #EA1246;
        }
    }

    .bi-arrow-right {
        position: relative;
        bottom: 2px;
        padding-left: 16px;
        font-size: 22px;
    }
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #E6E6E6;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    border-radius: 100%;
    bottom: -64px;
}

.carousel-indicators {
    bottom: -64px;

    .active {
        background-color: #EA1246;
    }
}

.bi-arrow-left-circle,
.bi-arrow-right-circle {
    font-size: 32px;
    color: #002603;
}

@media (max-width: 1750px) {
    .slider-inner {

        img {
            width: 595px;
            height: 425px;
        }
    }

    .slider-text {
        h1 {
            font-size: 54px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 1500px) {
    .slider-text {
        h1 {
            font-size: 46px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

        a {
            font-size: 16px;
        }
    }
}

@media (max-width: 1350px) {
    .slider-inner {

        img {
            width: 495px;
            height: 353px;
        }
    }

    .slider-text {
        h1 {
            font-size: 42px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }
    }
}

@media (max-width: 1168px) {
    .slider-text {
        margin-left: 30px;
    }
}

@media (max-width: 1148px) {
    .slider-text {
        margin-left: 10px;
    }

    .slider-inner {

        img {
            width: 450px;
            height: 321px;
        }
    }

    .slider-text {
        h1 {
            font-size: 38px;
        }

        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 14px;
        }

        a {
            font-size: 14px;
        }
    }
}

@media (max-width: 1015px) {
    .slider-inner {
        display: grid;

        img {
            width: 595px;
            height: 425px;
        }
    }

    .slider-text {
        margin-left: 0;
        text-align: center;
    }

    .slider-text {


        h1 {
            font-size: 42px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }

        a {
            font-size: 20px;
        }
    }
}

@media (max-width: 992px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .slider-shop {
        margin-bottom: 20px;
    }
}

@media (max-width: 620px) {

    .slider-inner {
        img {
            width: 450px;
            height: 321px;
        }
    }
}

@media (max-width: 470px) {

    .slider-inner {
        img {
            width: 350px;
            height: 250px;
            margin-left: 25px;
        }
    }
}

@media (max-width: 410px) {

    .slider-text {
        h1 {
            font-size: 36px;
        }
    }
    .slider-inner {
        img {
            margin-left: 10px;
        }
    }
}

@media (max-width: 366px) {

    .slider-text {
        h1 {
            font-size: 30px;
        }
    }
    .slider-inner {
        img {
            width: 300px;
            height: 215px;
        }
    }
}

@media (max-width: 320px) {

    .slider-text {
        h1 {
            font-size: 28px;
        }
    }
    .slider-inner {
        img {
            width: 250px;
            height: 178px;
            margin-left: 25px;
        }
    }
}