.sub-inner {
    padding-top: 41px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-weight: 500;
        font-size: 24px;
        color: #000;
    }

    img {
        width: 168px;
        height: 72px;

        &:last-of-type {
            width: 128px;
            height: 54px;
        }
    }

    form {
        width: 540px;
        height: 52px;
        display: flex;
        position: relative;

        input {
            width: 491px;
            border-radius: 46px;

            &::placeholder {
                font-weight: 400;
                font-size: 16px;
                color: #666666;
                padding-left: 20px;
            }
        }

        button {
            border-radius: 46px;
            width: 172px;
            position: absolute;
            left: 368px;
            top: 0;
            bottom: 0;
            background: #CA1441;
            font-weight: 600;
            font-size: 18px;
            outline: none;
            border: none;
        }
    }
}